:root {
  --main-bg-color: rgb(244, 234, 236);
  --heading-font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-weight: lighter;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

.name {
  font-size: 34px;
  font-weight: bolder;
}

.hero {
  background: var(--main-bg-color);
  padding: 70px 10px;
}

.first-recipe second-recipe third-recipe {
  padding: 70px 10px;
}

.second-recipe {
  background: var(--main-bg-color);
}

@media (max-width: 768px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  .name {
    font-size: 28px;
  }
  .hero {
    padding: 20px 30px;
  }
}
