:root {
  --main-bg-color: rgb(244, 234, 236);
  --heading-font-family: "Montserrat", sans-serif;
  --hover-color: #157347;
}

nav {
  padding: 20px 0;
}

.fa-utensils {
  font-size: 22px;
}

nav ul {
  padding: 0;
  margin: 0;
}

li {
  font-size: 18px;
  display: inline;
  list-style: none;
  margin-left: 16px;
}

nav a:hover,
nav li.active {
  color: var(--hover-color);
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-weight: lighter;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

.name {
  font-size: 34px;
  font-weight: bolder;
}

.navbar {
  padding: 0 60px;
}

.hero,
.second-recipe {
  background: var(--main-bg-color);
  padding: 70px 10px;
}

.first-recipe,
.third-recipe {
  padding: 70px 10px;
}

.wrapper img {
  max-width: 300px;
}

.main-sentence {
  margin: 60px;
  font-size: 60px;
  font-weight: bolder;
}

.contact-wrapper {
  margin: 20px auto;
  max-width: 800px;
  border-radius: 10px;
  background: var(--main-bg-color);
  padding-top: 10px;
}

.contact-wrapper p:hover a {
  color: var(--hover-color);
}

a {
  text-decoration: none;
  color: black;
}

.call-to-action {
  padding: 20px 60px;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 700px;
  background: var(--main-bg-color);
  align-items: center;
}

.call-to-action p {
  margin: 0;
}

footer .social-logo {
  font-size: 18px;
  padding: 10px 14px;
  border-radius: 50%;
}

.contact-footer-wrapper {
  margin: 20px auto;
  max-width: 500px;
}

footer .social-logo:hover {
  background: var(--hover-color);
}

@media (max-width: 768px) {
  li {
    font-size: 14px;
    margin-left: 14px;
  }

  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  .name {
    font-size: 28px;
  }
  .hero {
    padding: 20px 30px;
  }

  .call-to-action {
    padding: 20px;
    flex-direction: column;
  }

  .call-to-action P {
    margin-bottom: 10px;
  }
}
